<link rel="stylesheet" href="cars.css">
<table class="FullScreenPlugin">
	<tbody>
		<tr>
			<td>
				<dl class="ALLCARS" ng-controller="CtrlAllCars">
					<dt>
						<strong>
							<i class="lcz lcz-car"></i>
							我的车型
						</strong>
						<q ng-click="close();">&times;</q>
					</dt>
					<dd>
						<!-- 一直显示 -->
						<ul class="tabs clearfix">
							<li ng-class="{'cur':step==1,'ok':step>1}"><i>1</i>品牌</li>
							<li ng-class="{'cur':step==2,'ok':step>2}"><i>2</i>车系</li>
							<li ng-class="{'cur':step==3,'ok':step>3}"><i>3</i>排量</li>
							<li ng-class="{'cur':step==4,'ok':step>4}"><i>4</i>生产年份</li>
							<li ng-class="{'cur':step==5,'ok':step>5}"><i>5</i>车型</li>
							<li ng-class="{'cur':step==6,'ok':step>6}"><i>6</i>车架号</li>
						</ul>
						<!-- 前4步显示 -->
						<a class="inputNow" ng-if="step<5" ng-click="go(5);">没有我的车型？点击直接输入车架号 >></a>
						<!-- 第一步：品牌 -->
						<div class="Step1" ng-if="step==1">
							<div class="indices">
								<a ng-mouseenter="showBrands();" ng-class="{'cur':!letter};">热门</a>
								<p>
									<a ng-repeat="index in indices" ng-mouseenter="showBrands(index)" ng-class="{'cur':letter=='{{index}}'}">{{index}}</a>
								</p>
							</div>
							<div class="brands list">
								<a ng-repeat="brand in brands" ng-click="set({
									'brand':brand.id,
									'brandName':brand.name
								});showSeries(brand);">
									<var><img ng-src="{{brand.logo}}" alt="{{brand.name}}"></var>
									<span>{{brand.name}}</span>
								</a>
							</div>
						</div>
						<!-- 后四步显示 -->
						<ol class="chosen clearfix anchors" ng-if="step>1 && step<7">
							您已选择：
							<a ng-if="step>1" title="{{curcar.brandName}}" ng-click="go(1);"><q>&times;</q>{{curcar.brandName}}</a>
							<a ng-if="step>2" title="{{curcar.factoryName}}{{curcar.seryName}}" ng-click="go(2);"><q>&times;</q>{{curcar.factoryName}}{{curcar.seryName}}</a>
							<a ng-if="step>3" title="{{curcar.output}}" ng-click="go(3);"><q>&times;</q>{{curcar.output}}</a>
							<a ng-if="step>4" title="{{curcar.year}}" ng-click="go(4);"><q>&times;</q>{{curcar.year}}</a>
							<a ng-if="step>5" title="{{curcar.name}}{{curcar.transmission}}" ng-click="go(5);"><q>&times;</q>{{curcar.name}}{{curcar.transmission}}</a>
						</ol>
						<!-- 第二步：厂商及车系 -->
						<dl class="Step2 list menu" ng-if="step==2">
							<dt ng-repeat-start="factory in factories">{{factory.name}}</dt>
							<dd ng-repeat-end>
								<a ng-repeat="sery in factory.series" ng-click="set({
									'factory':factory.id,
									'factoryName':factory.name,
									'sery':sery.id,
									'seryName':sery.name
								});showOutputs(sery);">{{sery.name}}</a>
							</dd>
						</dl>
						<!-- 第三步：排量 -->
						<div class="Step3 list menu" ng-if="step==3">
							<a ng-repeat="output in outputs" ng-click="set('output',output.output);showYears(output);">{{output.output}}</a>
						</div>
						<!-- 第四步：年份 -->
						<div class="Step4 list menu" ng-if="step==4">
							<a ng-repeat="year in years" ng-click="set('year',year.year);showTypes(year);">{{year.year}}</a>
						</div>
						<!-- 第五步：车型 -->
						<div class="Step5 cars list menu" ng-if="step==5">
							<a ng-repeat="type in types" ng-click="set({
								'type':type.id,
								'name':type.name,
								'transmission': type.transmission
							});go(6);">{{type.name}}({{type.transmission}})</a>
						</div>
						<!-- 第六步：VIN码 -->
						<div class="Step6" ng-if="step==6">
							<form novalidate ng-submit="go(7);finish();" name="VINform" id="VINform">
								<p>请输入17位VIN码识别您的车型：<strong ng-bind="getVIN();"></strong></p>
								<div class="clearfix">
									<span ng-repeat="n in nums">{{n}}<input type="text" ng-required="true" ng-pattern="/^[\w\d]$/i" maxlength="1" ng-mouseup="select(n);" ng-change="nextBit(n);" ng-model="curcar.vin[n-1]" id="VIN{{n}}"></span>
								</div>
								<input type="submit" class="button button-huge button-red" value="确定" ng-disabled="!!VINform.$invalid" ng-click="showForm();">
							</form>
							<a class="inputNow">vin码在什么地方</a>
						</div>
						<!-- 第七步：完成 -->
						<div class="Step7" ng-if="step==7">
							<h6><i class="lcz lcz-check"></i>车型选择成功！</h6>
							<p>{{curcar.brandName}} {{curcar.seryName}} {{curcar.output}} {{curcar.year}} {{curcar.name}}({{curcar.transmission}})</p>
						</div>
					</dd>
				</dl>
			</td>
		</tr>
	</tbody>
</table>
<script src="cars.js"></script>