/*新的基础样式*/
@import url(_funs);
@import url(_icon);


//风格颜色定义
@globalbg:		#f7f7f7;
@placeholder:	#999;
@deepblack:		#333;
@middleblack:	#424242;
@lightblack: 	#696969;

@deepgray:		#b0b0b0;
@middlegray:	#dcdcdc;
@lightgray:		#e0e0e0;

@pale:			#eee;
@green: 		#83c44e;
@red: 			#f03226;
@yellow: 		#ffac13;
@blue: 			#2196f3;
@cyan: 			#00c0a5;
@gold: 			#ffd600;



/* 整站通用样式 全站兼容标准IE8+*/
*{
	.m(0);
	.p(0);
	.yahei();
	.italic(false);
	.bold(false);
}
ul,ol,li{ list-style:none;}
q{ quotes:none;}
a{
	.decorate();
	.c-p();
}
a img{
	.bd(0);
}
.common{
	.w(1226px);
	.ma();
	.clear();
}
body{
	.bg-c(@globalbg);
}
input::-ms-clear{
	.none();
}
/*下边三个占位符一定不能写在一起，不然会失效*/
:-moz-placeholder{
	.c(@placeholder);
}
::-moz-placeholder{
	.c(@placeholder);
}
:-ms-input-placeholder {
	.c(@placeholder);
}
:focus{
	.out(none);
}
textarea{
	.noresize();
}
.clearfix{
	clear:both !important;
	float:none !important;
	zoom:~"1\9";
}
.clearfix:after{
	.cnt();
	.block();
	.clear();
	.fn();
}
table{
	border-collapse:collapse;
	table-layout:fixed;
}
///*IE6 用absolute模拟fixed*/
//body{
//	_background-image: url(about:blank);     /*用浏览器空白页面作为背景*/
//	_background-attachment: fixed;     /* prevent screen flash in IE6 确保滚动条滚动时，元素不闪动*/
//}
/*半透明背景*/
.black5{
	.bg-c-a(black,.5);
}

//.fixed{
//	.fixed();
	// _position:absolute;
//}
.fixed-top{
	.fixed();
	.t();
	// _top:expression(eval(document.documentElement.scrollTop));
}
.fixed-bottom{
	.fixed();
	.b();
	// _bottom:auto;
	// _top:expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight - this.clientHeight - (parseInt(this.currentStyle.marginTop) || 0) - (parseInt(this.currentStyle.marginBottom) || 0)));
}
/*全屏插件，为了方便横竖居中，使用表格*/
.FullScreenPlugin{
	.none();
	.full();
	.z(55555);
	// _height:expression(eval(document.documentElement.clientHeight));
}

/*按钮手型与禁用*/
.btn{
	.bd(0);
	.c-p();
}
.disabled,[disabled]{
	.c-n();
}
