/*日期选择器*/
.CHIdatePicker{ margin:0 auto; width:300px; height:350px; border:1px solid #fff; border-radius:5px; color:#fff;}
.CHIdatePicker *:not(.fa){ margin:0; padding:0; font-family:"Microsoft Yahei"; text-decoration:none; font-style:normal;}
.CHIdatePicker input,.CHIdatePicker select{ border-radius:0;}
.CHIdatePicker *:focus{ outline:0;}
/*标签栏*/
.CHIdatePicker .tabs{ height:35px; line-height:35px; font-size:0.8rem; border-bottom:1px dotted #fff; box-sizing:border-box;}
.CHIdatePicker .tabs h5{ float:left; padding:0 10px; opacity:.5; font-weight:normal; cursor:pointer;}
.CHIdatePicker .tabs h5.cur{ font-size:0.9rem; opacity:1; cursor:default;}
.CHIdatePicker .tabs q{ float:right; width:30px; height:35px; line-height:35px; text-align:center; cursor:pointer; quotes:none; font-size:1rem;}
/*内容容器*/
.CHIdatePicker .contents{ height:275px; border-bottom:1px dotted #fff; overflow:hidden;}
/*日历面板*/
.CHIdatePicker .calendar{ width:300px; height:270px; overflow:hidden; position:relative;}
.CHIdatePicker .calendar div{ clear:both; width:300px; height:270px; box-sizing:border-box; padding:10px; overflow:hidden;}
.CHIdatePicker .calendar a{ display:block; box-sizing:border-box; float:left; text-align:center; cursor:pointer; color:#fff;}
.CHIdatePicker .calendar a:hover{ background-color:rgba(255,255,255,.2);}
/*被选及当前日期的样式*/
.CHIdatePicker .checked,.CHIdatePicker .today{ position:relative; border:1px solid;}
.CHIdatePicker .checked{ border-color:#1faeff;}
.CHIdatePicker .checked:before{ content:""; position:absolute; left:0; bottom:0; width:0; height:0; border:5px solid; border-color:transparent transparent  #1faeff  #1faeff;}
.CHIdatePicker .today{ border-color:#ff2e12;}
.CHIdatePicker .today:after{ content:""; position:absolute; right:0; top:0; width:0; height:0; border:5px solid; border-color:#ff2e12 #ff2e12 transparent transparent;}
.CHIdatePicker .checked.today{ border-color:#ff2e12 #ff2e12 #1faeff #1faeff;}
/*千年*/
.CHIdatePicker .kyears{}
.CHIdatePicker .kyears a{ height:75px; line-height:75px; float:none; margin-bottom:12px;}
/*世纪、十年、年、月共用样式*/
.CHIdatePicker .kids12{}
.CHIdatePicker .kids12 *{ display:block}
.CHIdatePicker .kids12 a{ width:61px; height:76px; line-height:25px; margin:10px 0 0 12px;}
.CHIdatePicker .kids12 a:nth-of-type(4n+1){ margin-left:0;}
.CHIdatePicker .kids12 a:nth-of-type(-n+4){ margin-top:0;}
.CHIdatePicker .yearslist a:first-child{ font-size:1rem; padding-top:8px; font-size:0.8rem; line-height:20px;}
.CHIdatePicker .yearslist a:first-child i{ height:35px; line-height:35px; font-size:1.2rem;}
.CHIdatePicker .yearslist a:last-child{ line-height:25px; padding:13px 0; font-size:0.6rem;}
.CHIdatePicker .yearslist a:last-child em{ font-size:1rem;}
.CHIdatePicker .yearslist a:last-child:hover{ background-color:transparent;}
/*世纪、十年，范围值*/
.CHIdatePicker .period{}
.CHIdatePicker .period a{ font-size:0.8rem; line-height:20px; padding-top:8px;}
.CHIdatePicker .period a s{ font-size:0.6rem}
/*年*/
.CHIdatePicker .years{}
.CHIdatePicker .years a{ font-size:0.9rem; line-height:76px;}
/*月*/
.CHIdatePicker .months{}
.CHIdatePicker .months b{ font-size:1.2rem; font-weight:normal; margin-top:15px;}
.CHIdatePicker .months u{ font-size:0.8rem;}
/*日*/
.CHIdatePicker .days{ font-size:0; text-align:center;}
.CHIdatePicker .days *{ display:inline-block; font-size:0.8rem; width:35px; padding-right:9px; height:35px; line-height:35px; text-align:right; box-sizing:border-box; vertical-align:top;}
/*周序号*/
.CHIdatePicker .days u{ font-size:0.6rem;}
.CHIdatePicker .days u:after{ content:":";}
/*非本月日期*/
.CHIdatePicker .days s{ opacity:.2;}
/*本月日期*/
.CHIdatePicker .days a{ float:none; text-align:right; display:inline-block;}
.CHIdatePicker .days .checked,.CHIdatePicker .days .today{ padding-right:8px; line-height:33px;}
.CHIdatePicker input[type=radio]{ display:none;}
.CHIdatePicker label{ display:block;}
.CHIdatePicker input[type=radio] + label{ padding:0 5px 0 30px; cursor:pointer;}
.CHIdatePicker :disabled + label{ opacity:.5;}
.CHIdatePicker input[type=radio] + label:before{ font-family:"FontAwesome"; content:"\f10c"; display:block; width:30px; text-align:center; float:left; margin-left:-30px;}
.CHIdatePicker input[type=radio]:checked + label{ background-color:rgba(255,255,255,.2);}
.CHIdatePicker input[type=radio]:checked + label:before{ content:"\f192";}
/*偏移面板*/
.CHIdatePicker .offset{ font-size:0.8rem; line-height:30px;}
.CHIdatePicker .offset table{ margin:10px; border-collapse:collapse;}
.CHIdatePicker .offset th{ width:60px; vertical-align:top; font-weight:normal; text-align:left; font-size:0.7rem;}
.CHIdatePicker .offset td{ width:220px; padding-bottom:3px;}
.CHIdatePicker .offset label{ height:30px; overflow:hidden;}
.CHIdatePicker .offset .short label{ width:25%; float:left; box-sizing:border-box;}
.CHIdatePicker .offset label span{ opacity:.8; font-size:0.6rem;}
.CHIdatePicker .offset tbody .difference{ width:25%; border:0; height:30px; padding:5px 10px; box-sizing:border-box; margin-right:10px; font-size:0.8rem;}
.CHIdatePicker .offset tfoot td{ text-align:center; font-size:0.7rem;}
.CHIdatePicker .offset tfoot .tip{ margin-top:2px;}
.CHIdatePicker .offset tfoot p{ cursor:pointer;}
.CHIdatePicker .offset tfoot span{ padding:3px; margin:0 3px; font-size:0.8rem; background-color:rgba(255,255,255,.2);}
.CHIdatePicker .offset tfoot .difference{ padding-right:0; margin-right:0;}
.CHIdatePicker .offset tfoot .unit{ padding-left:0; margin-left:0;}
.CHIdatePicker i.fa-hand-o-up:before{ font-size:1rem; width:30px; text-align:center; display:inline-block;}
/*快捷面板*/
.CHIdatePicker .shortcut{ line-height:30px; text-align:center;}
.CHIdatePicker .shortcut h5{ margin:10px 10px 2px; font-size:0.8rem; clear:both; font-weight:normal; background-color:rgba(255,255,255,.2);}
.CHIdatePicker .shortcut div{ margin:2px 10px 10px; clear:both;}
.CHIdatePicker .shortcut .quicks{ font-size:0;}
.CHIdatePicker .shortcut .quicks a{ font-size:0.7rem; display:inline-block; padding:0 10px; cursor:pointer; box-sizing:border-box; width:50%; float:left; margin:1px 0;}
.CHIdatePicker .shortcut .quicks a.short{ width:20%;}
.CHIdatePicker .shortcut .quicks a:hover{ background-color:rgba(255,255,255,.2);}
/*计数面板*/
.CHIdatePicker .counter{ line-height:30px; padding-top:10px;}
.CHIdatePicker .counter h5{ margin:10px; font-size:0.8rem; clear:both; font-weight:normal; background-color:rgba(255,255,255,.2); text-align:center;}
.CHIdatePicker .counter label{ display:block; font-size:0.7rem; margin:1px 10px; padding-left:25px !important;}
.CHIdatePicker .counter label:before{ width:25px !important; margin-left:-25px !important;}
.CHIdatePicker .counter label p{ display:none; padding-bottom:5px;}
.CHIdatePicker .counter :checked + label p{ display:block;}
.CHIdatePicker .counter input,.CHIdatePicker .counter select{ vertical-align:middle; -webkit-appearance:none; -moz-appearance:none; font-size:0.7rem; margin:0 3px; height:20px; line-height:20px;}
.CHIdatePicker .counter input[data-type="number"]{ border:0; padding:0 5px;}
.CHIdatePicker .counter select{ border:0; width:28px; background-color:#fff;}
.CHIdatePicker .counter > p:last-of-type{ cursor:pointer; font-size:0.7rem; text-align:center; padding-top:5px;}
.CHIdatePicker .counter > p span{ padding:3px; margin:0 3px; font-size:0.8rem; background-color:rgba(255,255,255,.2);}

.CHIdatePicker input[maxlength="4"]{ width:32px; margin-left:0;}
.CHIdatePicker input[maxlength="3"]{ width:24px;}
.CHIdatePicker input[maxlength="2"]{ width:16px;}

/*预览及按钮*/
.CHIdatePicker .btns{ font-size:0;}
.CHIdatePicker .btns input{ border:0; height:40px; background-color:transparent; color:#fff; cursor:pointer;}
.CHIdatePicker .btns label{ cursor:pointer; float:left; margin-right:5px;}
.CHIdatePicker .btns *{ display:inline-block; vertical-align:middle;}
.CHIdatePicker .btns dt{ width:200px; float:left; font-size:0.6rem; box-sizing:border-box; line-height:40px; padding-left:10px; border-right:1px dotted #fff;}
.CHIdatePicker .btns label input{ float:right; font-size:0.9rem;}
.CHIdatePicker .btns label .year{ width:46px;}
.CHIdatePicker .btns label :not(.year){ width:24px;}
.CHIdatePicker .btns dd{ width:100px; float:right;}
.CHIdatePicker .btns dd input{ width:50%; box-sizing:border-box; font-size:0.7rem;}
.CHIdatePicker .btns dd input:hover{ background-color:rgba(255,255,255,.2);}
.CHIdatePicker .btns dd .submit{ border-right:1px dotted #fff;}
/*表单中的图标选项*/
.CHIdates{ font-size:0; padding:5px 0px; display:inline-block; vertical-align:middle;}
.CHIdates *{ display:inline-block; vertical-align:middle;}
.CHIdates i{ width:35px; height:35px; border:1px solid #fff; cursor:pointer; font-size:1rem; color:#fff; line-height:35px; text-align:center;}
.CHIdates span{ font-size:0.7rem; padding:0 10px; color:#fff;}
@media screen and (max-width:480px){
	.CHIdates{ padding-left:5px;}
}