<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/> 
<meta name="renderer" content="webkit">
<meta content="yes" name="apple-mobile-web-app-capable" /> 
<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
<meta content="telephone=no,email=no" name="format-detection" />
<meta name="apple-touch-fullscreen" content="yes">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="index.css" rel="stylesheet">
</head>
<body ng-app="MyApp">
<form ng-controller="LoginFormCtrl" name="LoginForm">
	<div ng-form ng-repeat="item in items" ng-include src="item.template" onload="compileAll('LoginForm');" ng-class="{'reCompile':item.reCompile}">
	</div>
	<input type="text" name="user_passport" id="user_passport" ng-model="form['user_passport']" ng-class="item.className" need-at="true" ng-required="true" ng-pattern="/^(\w[-\w.+]*@([A-Za-z0-9][-A-Za-z0-9]+\.)+[A-Za-z]{2,14}|(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7})$/" class="ng-dirty ng-invalid ng-invalid-pattern ng-invalid-required" required="required">
</form>


<div ng-repeat="n in [1,2,3]">
	<div title="{{n}}"></div>
</div>

</body>
</html>
<script src="/srcs/js/angular1.2.29.js"></script>
<script>
	angular.module('MyApp', [])
		.controller('LoginFormCtrl', ['$scope','$timeout','$compile', function ($scope,$timeout,$compile) {
			$scope.form={
				user_passport:'',
				user_password:'',
				user_email:''
			};
			$scope.$watch("form",function(newValue){
				console.log(newValue);
			},true);
			$scope.items=[
				{
	            	template:'tmpl-text.html',
	                name:'user_passport',
	                id:'user_passport',
	                model:'user_passport',
	                type:'text',
	                placeholder:'用户名/邮箱/手机',
	                needAt:true,
	                data:'passport',
	                className:'dir-text dir-email',
	                required:true,
	                pattern:/^(\w[-\w.+]*@([A-Za-z0-9][-A-Za-z0-9]+\.)+[A-Za-z]{2,14}|(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7})$/,
	                reCompile:true
	            }
			];
	        $scope.items_bak=[
	            {
	            	template:'tmpl-text.html',
	                name:'user_passport',
	                id:'user_passport',
	                model:'user_passport',
	                type:'text',
	                placeholder:'用户名/邮箱/手机',
	                needAt:true,
	                data:'passport',
	                className:'dir-text dir-email',
	                required:true,
	                pattern:/^(\w[-\w.+]*@([A-Za-z0-9][-A-Za-z0-9]+\.)+[A-Za-z]{2,14}|(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7})$/,
	                reCompile:true
	            },{
	            	template:'tmpl-text.html',
	                name:'user_password',
	                id:'user_password',
	                model:'user_password',
	                type:'password',
	                placeholder:'6-20位密码',
	                needAt:false,
	                data:'password',
	                className:'dir-text',
	                required:true,
	                pattern:/^[\s\S]{6,20}$/,
	                reCompile:true
	            },{
	            	template:'tmpl-text.html',
	                name:'user_email',
	                id:'user_email',
	                model:'user_email',
	                type:'email',
	                placeholder:'常用邮箱',
	                needAt:false,
	                className:'dir-text dir-email',
	                required:false,
	                pattern:/^[\s\S]+$/,
	                reCompile:true
	            },{
	            	template:'tmpl-checkbox.html',
	            	name:'user_licence',
	            	id:'user_licence',
	            	model:'user_licence',
	            	values:[
	            		{value:'admin',label:'管理员'},
	            		{value:'customer',label:'游客'},
	            		{value:'other',label:'其它'}
	            	],
	            	min:1,
	            	max:2,
	            	reCompile:false
	            },{
	            	template:'tmpl-select.html',
	            	name:'user_level',
	            	id:'user_level',
	            	model:'user_level',
	            	values:[
	            		{value:'normal',label:'普通会员'},
	            		{value:'vip',label:'VIP会员'}
	            	]
	            },{
	            	template:'tmpl-radio.html',
	            	name:'user_cookie',
	            	id:'user_cookie',
	            	model:'user_cookie',
	            	values:[
	            		{value:3,label:'保持3天'},
	            		{value:7,label:'保持1周'},
	            		{value:30,label:'保持1个月'}
	            	]
	            },{
	            	template:'tmpl-select-multiple.html',
	            	name:'user_favors',
	            	id:'user_favors',
	            	model:'user_favors',
	            	values:[
	            		{value:1,label:'计算机'},
	            		{value:2,label:'体育'},
	            		{value:3,label:'娱乐'},
	            		{value:4,label:'艺术'},
	            	]
	            }
	        ];
	        var n=0;
	        // $scope.compileAll=function(formName){
	        // 	n++;
	        // 	if(n!=$scope.items.length) return;
		       //  $timeout(function(){
		       //      var form=document.getElementsByName(formName)[0],
		       //          items=form.childNodes;
		       //      for(var n=0;n<items.length;n++){
		       //      	if(items[n].nodeType!=1) continue;
		       //          var item=angular.element(items[n]).removeAttr('ng-repeat').removeAttr('ng-include').removeAttr('src').removeAttr('onload');
		       //          if(item.hasClass('reCompile')) $compile(item)(item.scope());
		       //      }
		       //  });
	        // }
		}])
		.directive('dirText', ['$timeout', function ($timeout) {
			return {
				restrict: 'ACE',
				require: 'ngModel',
				link: function (scope, iElement, iAttrs, ngModel) {
					// var regexp=iAttrs['regexp'];
					// regexp=new RegExp(regexp);
					scope.$watch(function(){
                    	return iElement.val();
                    },function(newValue,oldValue){
						if(!!newValue) iElement.addClass('text-full').removeClass('text-empty');
						else if(!newValue) iElement.removeClass('text-full').addClass('text-empty');
						// ngModel.$setValidity('pattern',regexp.test(this.value));
					});
				}
			};
		}])
		.directive('dirEmail', ['$compile','$timeout' ,function ($compile,$timeout) {
			return {
				restrict: 'ACE',
				require:'ngModel',
				link: function (scope, iElement, iAttrs, ngModel) {
                    iElement.parent().append("<ul class='ng-hide'></ul>")
                    var hosts='126.com|163.com|qq.com|sina.com|yeah.net|yahoo.com|yahoo.com.cn'.split('|'),
                        skipWatch=false,
                        ul=iElement.parent().find('ul').eq(0),
                        li=angular.element('<li ng-repeat="email in emails | filter:host" ng-click="setEmail(email)">{{email}}</li>'),
						model=iAttrs['ngModel'],
						needAt=iAttrs['needAt']=='true' ? true: false;
                    iElement.on("focus",function(){
                        skipWatch=false;
                    })
                    $compile(li)(scope);
                    ul.append(li);
                    scope.$watch(function(){
                    	return iElement.val();
                    },function(newValue){
                    	console.warn('value of email is',newValue);
                        if(skipWatch || !newValue) return false;
                        var indexAt=newValue.indexOf('@');
                        if(needAt && !~indexAt){
                            scope.emails=[];
                            ul.addClass('ng-hide');
                            return false;
                        }

                        var passport,emails=[];
                        if(needAt || ~indexAt){
                            scope.host=newValue.substring(indexAt);
                            passport=newValue.substring(0,indexAt);
                        }else{
                            passport=newValue;
                            scope.host='';
                        }
                        for(var n=0;n<hosts.length;n++) emails.push(passport+'@'+hosts[n]);
                        scope.emails=emails;
                        emails=null;
                        $timeout(function(){
                            if(ul.children().length==1 && ul.children().eq(0).html()==newValue || !needAt && !passport) ul.addClass('ng-hide');
                            else if(iElement.hasClass('ng-dirty')) ul.removeClass('ng-hide');
                        });
                    });
                    scope.setEmail=function(email){
                        skipWatch=true;
                        ngModel.$setViewValue(email);
                        ul.addClass('ng-hide');
                    }
				}
			};
		}])
		.directive('dirCheckboxes', [function () {
			return {
				restrict: 'ACE',
				require: 'form',
				link: function (scope, iElement, iAttrs, form) {
					var model=iAttrs['model'],
						minItems=iAttrs['min'],
						maxItems=iAttrs['max'];
					scope.$watch(model,function(newValue,oldValue){
						var item='',counter=0,invalid=0;
						for(var n in newValue){
							if(newValue[n]) counter++;
							if(counter>maxItems){
								invalid=1;
								break;
							}
							if(oldValue && angular.isObject(oldValue) && !(n in oldValue)) item=n;
						}
						if(counter<minItems) invalid=-1;
						form.$setValidity(~invalid);
						switch(invalid){
							case 0:
						}
						console.warn(newValue);
					},true);
				}
			};
		}])
</script>